html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

li {
  list-style-type: none;
}

/* color palette: carnelian - #B9071B; lapis lazuli - #075F96; 
portland orange - #FE5D29; russian violet - #481C57; st. patricks blue - #002D7E */

.hero {
  background: url(media/colorful-hero.jpg) top/cover no-repeat;
  height: 1000px;
}

.website-logo {
  width: 50px;
  padding: 10px 0;
  margin-left: 15px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(240 240 240 / 1);
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.2);
}

.scroll-nav {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.scroll-active {
  opacity: 1 !important;
}

.main-nav a:hover {
  color: #001947;
  /* color: rgba(194, 68, 112, 0.93); */
}

.main-nav {
  float: right;
  margin-top: 17px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.main-nav a {
  padding-right: 33px;
  font-weight: 700;
  /* color: rgba(204, 115, 137, 0.671); */
  color: #002d7e;
  text-decoration: none;
}

#hero-title {
  display: flex;
  float: right;
  flex-flow: column;
  margin-top: 40%;
  margin-right: 70px;
  text-align: right;
}

#hero-title h1 {
  color: white;
  font-size: 110px;
  margin: 0;
  float: right;
  font-weight: 700;
}

#hero-title h2 {
  font-size: 60px;
  font-weight: 300;
  color: white;
  float: right;
  margin: 0;
}

#about img {
  width: 400px;
  margin: 50px;
}

#about h1 {
  text-align: left;
  padding-left: 10px;
  color: #fe5d29;
  border-left: 4px solid #fe5d29;
}

#about h1,
#dreams h1 {
  font-size: 35px;
}

#about p {
  width: 300px;
  height: 300px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .navbar {
    display: none;
  }
}

/* portfolio carousel styling */
.carousel-item img {
  filter: brightness(40%);
}

.carousel-caption {
  bottom: 3rem;
}

.carousel-caption h5 {
  color: #fe5d29;
  font-size: 40px;
}
.carousel-caption p {
  color: white;
}

.carousel-inner img {
  height: 500px;
  width: auto;
  object-fit: cover !important;
  display: block;
}

.btn-portfolio {
  background-color: #481c57;
  border-color: #391346;
}

.btn-portfolio:hover {
  background-color: #b9071b;
  border-color: #940415;
}

/*dreams section styling*/
#dreams {
  padding: 50px 0;
  margin: 70px 0px 30px 63px;
}

.card {
  margin: 0 30px;
}

.color-card {
  background-color: #481c57;
  color: white;
}
#dreams h1 {
  color: #fe5d29;
  border-top: 4px solid #fe5d29;
  padding-top: 20px;
  max-width: 330px;
  /* float: left; */
  /* margin: 75px 30px 30px 95px; */
}
/* 
.dream-cards {
  margin: 73px 0 10px 0;
} */

#dreams-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 200px;
}

/* 
.dreams-content {
  align-content: center;
}

#dreams div p {
  height: 100px;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
HOW TO MAKE ELLIPSIS TEXT OVERFLOW
  text-align: left;
  padding: 10px 0;
} */

#dreams img {
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-show {
  background-color: #fe5d29;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-show:hover {
  background-color: #b9071b;
  border-color: #940415;
}

.hide {
  display: none;
}

/* footer styling */
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
