body {
    margin: 0;
}

/* color palette: #FEB35E-rajah  #781320-burgundy  #38266E-spanish violet  #FA3C24-red RYB  #B46D99-pearly purple */


.hero {
    background: url(media/colorful-hero.jpg) top/cover no-repeat;
    height: 970px;
}

.website-logo {
    width: 60px;
}

nav {
    position: fixed;
    width: 100%;
}

.main-nav a:hover{
    color: rgba(194, 68, 112, 0.93);
}

.main-nav {
    float: right;
    margin-top: 25px;
    font-size: 25px;
}

.main-nav a {
    padding-right: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
}

#title-text-hero {
    float: right;
    margin-top: 600px;
    margin-right: 70px;
}

#hero-title {
    color: white;
    font-size: 110px;
    margin: 0;
    float: right;
    font-family: 'Roboto', sans-serif;
}

#about-section {
    height: 650px;
}

#portfolio-section {
    background-color: #38266E;
    height: 600px;
}

#dreams-section {
    height: 600px;
}