@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero {
    height: 600px;
  }

  #hero-title {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 350px;
    margin-right: 70px;
    text-align: right;
  }

  #hero-title h1 {
    color: white;
    font-size: 70px;
    margin: 0;
    float: right;
    font-weight: 700;
  }

  #hero-title h2 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    float: right;
    margin: 0;
  }
}

@media only screen and (min-width: 850px) and (max-width: 992px) {
  #hero-title h1 {
    color: white;
    font-size: 90px;
    margin: 0;
    float: right;
    font-weight: 700;
  }
}
