/* mobile styling */

/* @media only screen and (max-width: 600px) {

}
*/
@media only screen and (max-width: 600px) {
  .about-container {
    gap: 0;
  }
  .about-container div {
    margin-top: 50px;
  }
  .about-container img {
    margin-top: 0;
  }

  nav span {
    display: none;
  }

  .hero {
    height: 400px;
  }

  #hero-title {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 150px;
    margin-right: 70px;
    text-align: right;
  }

  #hero-title h1 {
    color: white;
    font-size: 70px;
    margin: 0;
    float: right;
    font-weight: 700;
  }

  #hero-title h2 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    float: right;
    margin: 0;
  }

  /*mobile footer styling*/
  #desktop-footer {
    display: none;
  }

  #mobile-links img {
    width: 30px;
  }

  #mobile-links {
    border: 1px solid red;

    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-start;
    align-items: left;
    padding: 20px 10px;
  }

  #mobile-links a {
    color: white;
    text-decoration: none;
  }

  #mobile-links a:hover {
    text-decoration: underline;
  }

  #mobile-socials {
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 20px;
  }
}

/* @media only screen and (max-width: 750px) {
  footer {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 100px;
    margin-right: 70px;
    text-align: right;
  }
} */

/* hamburger menu navbar styling */

.navbar-nav {
  float: right;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}
