/* mobile styling */

/* @media only screen and (max-width: 600px) {

}
*/
@media only screen and (max-width: 600px) {
  .about-container {
    gap: 0;
  }
  .about-container div {
    margin-top: 50px;
  }
  .about-container img {
    margin-top: 0;
  }

  nav span {
    display: none;
  }

  .hero {
    height: 400px;
  }

  #hero-title {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 150px;
    margin-right: 70px;
    text-align: right;
  }

  #hero-title h1 {
    color: white;
    font-size: 70px;
    margin: 0;
    float: right;
    font-weight: 700;
  }

  #hero-title h2 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    float: right;
    margin: 0;
  }

  /* mobile footer styling
  #desktop-footer {
    display: none;
  }

  #mobile-links img {
    width: 30px;
  }

  #mobile-links {
    border: 1px solid red;

    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-start;
    align-items: left;
    padding: 20px 10px;
  }

  #mobile-links a {
    color: white;
    text-decoration: none;
  }

  #mobile-links a:hover {
    text-decoration: underline;
  }

  #mobile-socials {
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 20px;
  }*/

  #portfolio-title h1 {
    font-size: 70px;
  }
}

/* @media only screen and (max-width: 750px) {
  footer {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 100px;
    margin-right: 70px;
    text-align: right;
  }
} */

/* hamburger menu navbar styling */

.navbar-nav {
  float: right;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  #portfolio-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1499px) {
  #port-mobile {
    display: none;
  }
}
#port-mobile {
  background-color: #fe5d29;
  margin-top: 50px;
  padding: 20px 0;
}

#port-mobile h1 {
  color: white;
}

#port-text-mobile {
  margin: 50px;
  text-align: center;
}

@media only screen and (max-width: 930px) {
  #dreams-desktop {
    display: none;
  }
}

@media only screen and (min-width: 930px) {
  #mobile-dreams {
    display: none;
  }
}

#mobile-dreams-h1 {
  color: #fe5d29;
  text-align: center;
  margin: 50px 0 20px 0;
}


.mobile-dream-cards {
  max-width: 400px;
  margin: 0 auto;
  background-color: #481c57;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.mobile-dream-cards img {
  max-width: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mobile-dream-cards h2 {
  padding: 5px 0 0 10px;
}

.mobile-dream-cards p {
  padding: 0 0 15px 10px;
}