/* mobile styling */

@media only screen and (max-width: 800px) {
  .about-container {
    gap: 0;
  }
  .about-container div {
    margin-top: 50px;
  }
  .about-container img {
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  nav span {
    display: none;
  }

  .hero {
    height: 400px;
  }

  #hero-title {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 150px;
    margin-right: 70px;
    text-align: right;
  }

  /* footer {
    display: flex;
    float: right;
    flex-flow: column;
    margin-top: 100px;
    margin-right: 70px;
    text-align: right;
  } */
}

/* hamburger menu navbar styling */

.navbar-nav {
  float: right;
  text-align: right;
}

@media only screen and (min-width: 700px) {
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #desktop-footer {
    display: none;
  }

  footer {
    background-color: #38266e;
  }

  #mobile-links img {
    width: 30px;
  }

  #mobile-links {
    border: 1px solid red;

    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-start;
    align-items: left;
    padding: 20px 10px;
  }

  #mobile-links a {
    color: white;
    text-decoration: none;
  }

  #mobile-links a:hover {
    text-decoration: underline;
  }

  #mobile-socials {
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 20px;
  }
}
