.portfolio-hero {
  background: url(../media/vivid-hero.jpg) top/cover no-repeat;
  height: 500px;
}

#portfolio-title {
  display: flex;
  float: right;
  flex-flow: column;
  margin-top: 320px;
  margin-right: 70px;
  text-align: right;
}

#portfolio-title h1 {
  color: white;
  font-size: 110px;
  margin: 0;
  float: right;
  font-weight: 700;
}

.cards-section {
  margin: 50px auto;
}
